Source: qt5dxcb-plugin
Section: devel
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper (>=9), qt5-default, qtbase5-dev,
    qtbase5-private-dev, pkg-config, libqt5x11extras5-dev, libxcb-xkb-dev, libxcb-render-util0-dev,
    libxcb-image0-dev, libxcb-icccm4-dev, libxcb-keysyms1-dev, libegl1-mesa-dev, libmtdev-dev,
    libxkbcommon-x11-dev, libdbus-1-dev, libqt5opengl5-dev, libudev-dev, libxrender-dev,
    libxi-dev, libsm-dev, libxcb-xinerama0-dev, libfontconfig1-dev, libfreetype6-dev, libglib2.0-dev
Standards-Version: 3.9.8

Package: qt5dxcb-plugin
Architecture: any
Provides: libqt5dxcb-plugin
Conflicts: libqt5dxcb-plugin
Breaks:dde-qt5integration (< 0.2.8.1)
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt platform plugins for DDE
 Qt platform plugins for DDE.
